/* colour palette
    "Rich Black" - #011627
    "Baby Powder" - #FDFFFC
    "Tiffany Blue" - #2EC4B6
    "Rose Madder" - #E71D36
    "Orange Peel" - #FF9F1C
*/

body {
    margin: 0;
    padding: 0;
    font-family: "Calibri", sans-serif;
    background-color: #FDFFFC;
    color: #011627;
}

h1 {
    width: 70vw;
    margin: 10vh auto;
    text-align: center;
    font-size: 3em;
}


/* Game buttons */

    .buttonContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 70vw;
        margin: 0 auto;
    }

    .button {
        border: 1px solid black;
        border-radius: 10%;
    }

    .rock {
        background-image: url("../pics/rock1.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 15vw;
        height: 15vw;
        background-color: #2EC4B6;
    }

    .paper {
        background-image: url("../pics/paper.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 15vw;
        height: 15vw;
        background-color: #E71D36;
    }

    .scissors {
        background-image: url("../pics/scissors.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 15vw;
        height: 15vw;
        background-color: #FF9F1C;
    }